<div class="collections-container">
  <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
  <% cache [I18n.locale, @collection, @taxon, max_level] do %>
    <%= taxons_tree(@collection.root, @taxon, max_level) %>
  <% end %>
</div>