<h1 class="faq-title">FAQ</h1>
<h2 class="faq-subtitle">Trouvez la réponse à chacune de vos questions.</h2>
<div class="questions-container">
    <div class="question">
        <div>
            <h4>Qui sommes-nous ?</h4>
            <img src="<%= image_url('down.svg') %>" class="answer-arrow">
        </div>
        <p class="question-answer none">Culture Campus est un projet lancé par un enseignant et un groupe d’étudiants avec l’approbation de l’université Bordeaux Montaigne.  L’objectif est de créer une ligne de vêtements à l’image de l’Université ainsi que de Culture Campus. Créer votre style, notre fierté.</p>
    </div>
    <hr>
    <div class="question">
        <div>
            <h4>Qui sommes-nous ?</h4>
            <img src="<%= image_url('down.svg') %>" class="answer-arrow">
        </div>
        <p class="question-answer none">Culture Campus est un projet lancé par un enseignant et un groupe d’étudiants avec l’approbation de l’université Bordeaux Montaigne.  L’objectif est de créer une ligne de vêtements à l’image de l’Université ainsi que de Culture Campus. Créer votre style, notre fierté.</p>
    </div>
    <hr>
</div>