<div id="coupon_code" data-hook="coupon_code">
  <%= form_tag order_coupon_codes_path(@order), method: :post do %>
    <%= text_field_tag :coupon_code, nil, placeholder: 'Votre code', size: 10 %>
    <%= submit_tag 'OK', class: 'button-secondary' %>
  <% end %>
</div>
