<footer class="container" data-hook>
  <div>
    <ul>
      <li><a>Support</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/points-de-vente">Nos points de vente</a></li>
      <li><a>Nous contacter</a></li>
      <li><a>CGU et Mentions Légales</a></li>
    </ul>
  </div>
  <div class="email-footer">
    <label for="email">S'abonner à notre Newsletter</label>

    <input type="email" id="email" name="email" required
       size="30" placeholder="Adresse e-mail">
  </div>
  <div>
    <p>Nos réseaux sociaux :</p>
    <ul>
      <li><a>Instagram</a></li>
      <li><a>Facebook</a></li>
    </ul>
  </div>
</footer>
