<footer class="container" data-hook>
  <div>
    <ul>
      <li>Support</li>
      <li>FAQ</li>
      <li>Nos points de vente</li>
      <li>Nous contacter</li>
      <li>CGU et Mentions Légales</li>
    </ul>
  </div>
  <div class="email-footer">
    <label for="email">S'abonner à notre Newsletter</label>

    <input type="email" id="email" name="email" required
       size="30">
  </div>
  <div>
    <p>Nos réseaux sociaux</p>
    <ul>
      <li>Instagram</li>
      <li>Facebook</li>
    </ul>
  </div>
</footer>
