<% if spree_current_user %>
  <li class="logged_in">
  <%#= link_to t('Profil'), spree.account_path, class: 'profile' %>
    <a href="/account"><img src="<%= image_url('profil.svg') %>" class="logged_in"></a>
  </li>
  <!--<li>
    <%= link_to t('spree.logout'), spree.logout_path, method: Devise.sign_out_via %>
  </li>-->
<% else %>

  <%
=begin%>
 <li id="link-to-login"><%= link_to t('spree.login'), spree.login_path %></li> 
<%
=end %>

<!-- ancien boutton -->

  <button class="open-pop-up login button-login"><img src="<%= image_url('profil.svg') %>"><a href="/login">Connexion</a></button>

<% end %>