<% if spree_current_user %>
  <li id='connexion' class="logged_in">
  <%#= link_to t('Profil'), spree.account_path, class: 'profile' %>
    <button class="open-pop-up login button-login"><a href="/account"><img class='logged_in' src="<%= image_url('profil.svg') %>"></a></button>
    
  </li>
  <!--<li>
    <%= link_to t('spree.logout'), spree.logout_path, method: Devise.sign_out_via %>
  </li>-->
<% else %>

  <%
=begin%>
 <li id="link-to-login"><%= link_to t('spree.login'), spree.login_path %></li> 
<%
=end %>

<!-- ancien boutton -->
<li id='connexion'>
  <button class="open-pop-up login button-login"><a href="/login"><img src="<%= image_url('profil.svg') %>">Connexion</a></button>
</li>
<% end %>