<nav id="top-nav-bar" class="columns ten">
  <ul id="nav-bar" class="inline" data-hook>
    <li class="left-side-nav"><a href="/products">Collection</a></li>
    <li class="left-side-nav"><a href="/t/categories/vetements">Nouveautés</a></li>
    <li class="left-side-nav"><a href="/t/categories/vetements/sweats">Sweat</a></li>
    <li class="left-side-nav"><a href="/t/categories/vetements/t-shirts">T-Shirt</a></li>
    <li class="left-side-nav"><a href="/points-de-vente">Nos points de vente</a></li>
    <%# render 'spree/shared/locale_selector' %>
    </li>
    <li id="search-bar" data-hook onclick="extendHeader()">
      <%= render partial: 'spree/shared/search' %>
    </li>
    <li style="display: none">
      <button class="cross-btn" onclick="reduceHeader()">
        <span class="cross-line cross-line-1"></span>
        <span class="cross-line cross-line-2"></span>
      </button>
    </li>
    <%= render 'spree/shared/login_bar_items' %>
    <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to t('Panier'), spree.cart_path %>
      </noscript>
      &nbsp;
    </li>
  </ul>
    <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>
</nav>
