<!--<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
<nav id="taxonomies" class="sidebar-item" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, @taxon, max_level] do %>
      <h6 class='taxonomy-root'><%= t('spree.shop_by_taxonomy', taxonomy: taxonomy.name) %></h6>
      <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
    <% end %>
  <% end %>
</nav>-->

<!-- Add active class to list item to have it open by default ?-->

<div id="sidebar_list" class="sidebar_list">
  <ul>
    <li class="border_sidebar">
      <div class="slidebar_button">
        <a>Taille</a>
        <i><img src="<%= image_url('up.svg') %>" class="imgRotateInvers"></i>
      </div>
      <ul class="sidebar_hidden">
        <li class="flex_li"> 
          <input type="checkbox">
          <a>S</a>
        </li>
        <li class="flex_li">
          <input type="checkbox">
          <a>M</a>
        </li>
        <li class="flex_li">
          <input type="checkbox">
          <a>L</a>
        </li>
        <li class="flex_li">
          <input type="checkbox">
          <a>XL</a>
        </li>
      </ul>
    </li>
     <li class="border_sidebar2">
      <div class="slidebar_button2">
        <a>oui</a>
        <i><img src="<%= image_url('up.svg') %>" class="imgRotateInvers"></i>
      </div>
      <ul class="sidebar_hidden2">
        <li class="flex_li">
          <input type="checkbox">
          <a>Nouveautés</a>
        </li>
        <li class="flex_li">
          <input type="checkbox">
          <a>Prix croissant</a>
        </li>
        <li class="flex_li">
          <input type="checkbox">
          <a>Prix décroissant</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
