<section class="homeheader">
  <h1>Culture Campus</h1>
  <h2>Découvrez notre nouvelle collection !<br>Héritage</h2>
  <a href="/t/collections/heritage"><button class="button button-secondary">Découvrir</button></a>
</section>
<div class="container">
  <section class="collection-home">
    <h2>Nos collections</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into el</p>
    <a href="/collections"><button class="button button-primary">Découvrir</button></a>
  </section>
  <section class="category-home-container">
    <div class="category-home category-home-left">
      <span class="category-btn-container">
        <h3>Nos Sweats</h3>
        <a href="/t/vetements/sweats"><button class="button category-btn">Voir</button></a>
      </span>
    </div>
    <div class="category-home category-home-right">
      <span class="category-btn-container">
      <h3>Nos T-Shirts</h3>
      <a href="/t/vetements/t-shirts"><button class="button category-btn">Voir</button></a>
    </div>
  </section>
  <% if(!@selection.nil?) %>
    <% if(!@selection_products.empty?) %>
      <section class="selection-home">
        <h2>Notre selection</h2>
        <div data-hook="taxon_products">
          <%= render partial: 'spree/shared/products', locals: { products: @selection_products, taxon: @selection } %>
        </div>
      </section>
    <% end %>
  <% end %>
</div>